
/* набросал стили для визуализации кода */

* {
    margin: auto 10px;
}

header {
    padding-right: 20px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(247, 247, 247);
    border: 1px solid #ccc;
}

main {
    padding: 20px 40px;
}

button {
    cursor: pointer;
    height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
}


.btn-cart {
    justify-content: flex-end;
    align-content: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.product-pic {
    height: 100px;
    margin-bottom: 20px;
    width: -webkit-fill-available;
}

.by-btn {
    margin-top: 20px;
}